@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Luckiest+Guy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Anek Latin", sans-serif;
  background-color: #18181b;
}

h1 {
  font-family: "Luckiest Guy", cursive;
}

a {
  text-decoration: none;
  color: #fff;
}

input,
textarea,
button {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 1rem;
  border-radius: 0.25rem;
}

ul {
  list-style-type: none;
}
